USE [QuestionAppDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7.06.2023 10:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Abouts]    Script Date: 7.06.2023 10:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abouts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Explanation] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[updatedDate] [nvarchar](max) NULL,
	[createdDate] [nvarchar](max) NULL,
	[deletedDate] [nvarchar](max) NULL,
	[reloadedDate] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Abouts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 7.06.2023 10:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Mail] [nvarchar](max) NULL,
	[IdentityNo] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[RoleName] [nvarchar](max) NULL,
	[BirthDate] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Salt] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[updatedDate] [nvarchar](max) NULL,
	[createdDate] [nvarchar](max) NULL,
	[deletedDate] [nvarchar](max) NULL,
	[reloadedDate] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 7.06.2023 10:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Explanation] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[Date] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[updatedDate] [nvarchar](max) NULL,
	[createdDate] [nvarchar](max) NULL,
	[deletedDate] [nvarchar](max) NULL,
	[reloadedDate] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Announcements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 7.06.2023 10:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AnswerName] [nvarchar](max) NULL,
	[QuestionId] [int] NOT NULL,
	[Explanation] [nvarchar](max) NULL,
	[Answer_picture] [nvarchar](max) NULL,
	[Answer_point] [int] NOT NULL,
	[Answer_active] [bit] NOT NULL,
	[Answer_approval] [bit] NOT NULL,
	[Sender_Name] [nvarchar](max) NULL,
	[Sender_Surname] [nvarchar](max) NULL,
	[Sender_Mail] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[control] [bit] NOT NULL,
	[Answer_date] [nvarchar](max) NULL,
	[updatedDate] [nvarchar](max) NULL,
	[createdDate] [nvarchar](max) NULL,
	[deletedDate] [nvarchar](max) NULL,
	[reloadedDate] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Answers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 7.06.2023 10:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[updatedDate] [nvarchar](max) NULL,
	[createdDate] [nvarchar](max) NULL,
	[deletedDate] [nvarchar](max) NULL,
	[reloadedDate] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Branches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 7.06.2023 10:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SenderName] [nvarchar](max) NULL,
	[SenderSurname] [nvarchar](max) NULL,
	[SenderMail] [nvarchar](max) NULL,
	[Acive] [bit] NOT NULL,
	[Explanation] [nvarchar](max) NULL,
	[Date] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[control] [bit] NOT NULL,
	[answerId] [int] NOT NULL,
	[updatedDate] [nvarchar](max) NULL,
	[createdDate] [nvarchar](max) NULL,
	[deletedDate] [nvarchar](max) NULL,
	[reloadedDate] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 7.06.2023 10:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[provinceId] [int] NOT NULL,
	[updatedDate] [nvarchar](max) NULL,
	[createdDate] [nvarchar](max) NULL,
	[deletedDate] [nvarchar](max) NULL,
	[reloadedDate] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Districts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 7.06.2023 10:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SenderName] [nvarchar](max) NULL,
	[SenderSurname] [nvarchar](max) NULL,
	[SenderMail] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Explanation] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[control] [bit] NOT NULL,
	[updatedDate] [nvarchar](max) NULL,
	[createdDate] [nvarchar](max) NULL,
	[deletedDate] [nvarchar](max) NULL,
	[reloadedDate] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 7.06.2023 10:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[updatedDate] [nvarchar](max) NULL,
	[createdDate] [nvarchar](max) NULL,
	[deletedDate] [nvarchar](max) NULL,
	[reloadedDate] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Provinces] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 7.06.2023 10:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionName] [nvarchar](max) NULL,
	[branchId] [int] NOT NULL,
	[Explanation] [nvarchar](max) NULL,
	[Questions_picture] [nvarchar](max) NULL,
	[urgencyId] [int] NOT NULL,
	[Question_active] [bit] NOT NULL,
	[Sender_Name] [nvarchar](max) NULL,
	[Sender_Surname] [nvarchar](max) NULL,
	[Sender_Mail] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[control] [bit] NOT NULL,
	[Questions_date] [nvarchar](max) NULL,
	[Click] [int] NOT NULL,
	[updatedDate] [nvarchar](max) NULL,
	[createdDate] [nvarchar](max) NULL,
	[deletedDate] [nvarchar](max) NULL,
	[reloadedDate] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Questions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schools]    Script Date: 7.06.2023 10:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schools](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[updatedDate] [nvarchar](max) NULL,
	[createdDate] [nvarchar](max) NULL,
	[deletedDate] [nvarchar](max) NULL,
	[reloadedDate] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Schools] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 7.06.2023 10:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Mail] [nvarchar](max) NULL,
	[IdentityNo] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[RoleName] [nvarchar](max) NULL,
	[BirthDate] [nvarchar](max) NULL,
	[School] [nvarchar](max) NULL,
	[Class] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Salt] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Province] [nvarchar](max) NULL,
	[District] [nvarchar](max) NULL,
	[Adress] [nvarchar](max) NULL,
	[updatedDate] [nvarchar](max) NULL,
	[createdDate] [nvarchar](max) NULL,
	[deletedDate] [nvarchar](max) NULL,
	[reloadedDate] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Students] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 7.06.2023 10:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Mail] [nvarchar](max) NULL,
	[IdentityNo] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[RoleName] [nvarchar](max) NULL,
	[BirthDate] [nvarchar](max) NULL,
	[Graduated_school] [nvarchar](max) NULL,
	[branchId] [int] NOT NULL,
	[Work_Institution] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Salt] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Province] [nvarchar](max) NULL,
	[District] [nvarchar](max) NULL,
	[Adress] [nvarchar](max) NULL,
	[Point] [int] NOT NULL,
	[updatedDate] [nvarchar](max) NULL,
	[createdDate] [nvarchar](max) NULL,
	[deletedDate] [nvarchar](max) NULL,
	[reloadedDate] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Teachers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToDoes]    Script Date: 7.06.2023 10:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToDoes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Explonation] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[updatedDate] [nvarchar](max) NULL,
	[createdDate] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ToDoes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urgencies]    Script Date: 7.06.2023 10:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urgencies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[updatedDate] [nvarchar](max) NULL,
	[createdDate] [nvarchar](max) NULL,
	[deletedDate] [nvarchar](max) NULL,
	[reloadedDate] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Urgencies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Abouts] ON 

INSERT [dbo].[Abouts] ([ID], [Title], [Explanation], [IsDeleted], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (3, N'fghygtrf', N'frgythjukıo', 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Abouts] OFF
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([ID], [Name], [Surname], [Mail], [IdentityNo], [Phone], [RoleName], [BirthDate], [Password], [Salt], [IsDeleted], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (2, N'Duygu', N'Delice', N'gdelice2244@gmail.com', NULL, N'5510919849', N'ADMİN', NULL, N'Q6o19E2aPyR+AX6O8S6SebFs7b+1XxIzgzEEYvT5J1wEX+Z52T+Ncp8x1grfiAp1FlKPGRnDXCy7mFESCimJ6Q==', N'100000.UjdSx5GCjwSd44/SmSlEF6QIZ0a+S4cd2RJO9an35NELSw==', 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Admins] ([ID], [Name], [Surname], [Mail], [IdentityNo], [Phone], [RoleName], [BirthDate], [Password], [Salt], [IsDeleted], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (3, N'Hülya', N'Saydam', N'hulyasaydam40@gmail.com', N'11111111111', N'5411891978', NULL, N'1978-12-29', N'DSmBvkqHxwLkkGy45ZmcTu8pwsiGWLK6WBEIWy5x646bJUG6+csp/CQpRqvPd3WL1zwiZ2HOHp5tD3P1i4wqjQ==', N'100000.iS5PtZ6k5HG1h/PJMRLT/pfeamsLtsSiGVXa/1P7hVbZhw==', 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Announcements] ON 

INSERT [dbo].[Announcements] ([Id], [Title], [Explanation], [Active], [Date], [IsDeleted], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (2, N'NİSAN AYI KAZANANLARI', N'Nisan ayı sürprizlerimiz kazanan saygıdeğer 3 öğretmenimiz aşağıda yer almaktadır. Mail kutunuzu kontrol etmeyi unutmayın. :)

1-Duygu Delice
2-Hülya Saydam
3-Özkan Saydam', 1, CAST(N'2023-04-16T00:00:00.000' AS DateTime), 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Announcements] ([Id], [Title], [Explanation], [Active], [Date], [IsDeleted], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (6, N'MART AYI KAZANANLARI', N'Mart ayı sürprizlerimiz kazanan saygıdeğer 3 öğretmenimiz aşağıda yer almaktadır. Mail kutunuzu kontrol etmeyi unutmayın. :)

1-Duygu Delice
2-Hülya Saydam
3-Özkan Saydam', 1, CAST(N'2023-04-16T13:57:35.637' AS DateTime), 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Announcements] ([Id], [Title], [Explanation], [Active], [Date], [IsDeleted], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (7, N'ŞUBAT AYI KAZANANLARI', N'Şubat ayı sürprizlerimiz kazanan saygıdeğer 3 öğretmenimiz aşağıda yer almaktadır. Mail kutunuzu kontrol etmeyi unutmayın. :)

1-Duygu Delice
2-Hülya Saydam
3-Özkan Saydam', 1, CAST(N'2023-04-16T13:58:01.540' AS DateTime), 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Announcements] OFF
GO
SET IDENTITY_INSERT [dbo].[Answers] ON 

INSERT [dbo].[Answers] ([ID], [AnswerName], [QuestionId], [Explanation], [Answer_picture], [Answer_point], [Answer_active], [Answer_approval], [Sender_Name], [Sender_Surname], [Sender_Mail], [IsDeleted], [control], [Answer_date], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (1, N'Trigonometri Konusu', 5, N'Sin 90 1 e eşitttir.Çünkü bu bir kuraldır.', N'/Content/Style/İmages/Ekran Görüntüsü (6).png', 0, 1, 1, N'Oğuzhan', N'Sezer', N'oguzhansezer14@gmail.com', 0, 1, N'12-12-2021', NULL, NULL, NULL, NULL)
INSERT [dbo].[Answers] ([ID], [AnswerName], [QuestionId], [Explanation], [Answer_picture], [Answer_point], [Answer_active], [Answer_approval], [Sender_Name], [Sender_Surname], [Sender_Mail], [IsDeleted], [control], [Answer_date], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (5, N'rgthfttttttttttttttttttttttt', 1, NULL, N'/Content/Style/İmages/anonim.png', 0, 0, 1, N'Oğuzhan', N'Sezer', N'oguzhansezer14@gmail.com', 0, 0, N'15.04.2023 19:18:20', NULL, NULL, NULL, NULL)
INSERT [dbo].[Answers] ([ID], [AnswerName], [QuestionId], [Explanation], [Answer_picture], [Answer_point], [Answer_active], [Answer_approval], [Sender_Name], [Sender_Surname], [Sender_Mail], [IsDeleted], [control], [Answer_date], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (7, N'ddddddddddddddddddddddd', 3, N'dddddddddddddddddddddddddddd', N'/Content/Style/İmages/Ekran Görüntüsü (6).png', 0, 1, 1, N'Oğuzhan', N'Sezer', N'oguzhansezer14@gmail.com', 0, 1, N'15.04.2023 19:25:50', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Answers] OFF
GO
SET IDENTITY_INSERT [dbo].[Branches] ON 

INSERT [dbo].[Branches] ([Id], [Name], [IsDeleted], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (1, N'MATEMATİK-İLERİ', 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Branches] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([ID], [SenderName], [SenderSurname], [SenderMail], [Acive], [Explanation], [Date], [IsDeleted], [control], [answerId], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (1, N'Ayla', N'Gün', N'ayla@gmail.com', 1, N'edfsujsdfdsdsfsdf', N'11-02-2022', 0, 1, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Comments] ([ID], [SenderName], [SenderSurname], [SenderMail], [Acive], [Explanation], [Date], [IsDeleted], [control], [answerId], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (4, N'Duygu', N'Delice', N'gdelice2244@gmail.com', 1, N'eeeeeeeeeeeeeeeeeeeeeeeee', N'15.04.2023 22:56:09', 0, 1, 7, NULL, NULL, NULL, NULL)
INSERT [dbo].[Comments] ([ID], [SenderName], [SenderSurname], [SenderMail], [Acive], [Explanation], [Date], [IsDeleted], [control], [answerId], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (10, N'Duygu', N'Delice', N'gdelice2244@gmail.com', 1, N'ppppppppppppppppppppppppppppp', N'16.04.2023 14:30:14', 0, 1, 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Districts] ON 

INSERT [dbo].[Districts] ([ID], [Name], [IsDeleted], [provinceId], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (3, N'GÖLBAŞI', 0, 3, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Districts] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([ID], [SenderName], [SenderSurname], [SenderMail], [Title], [Explanation], [Active], [IsDeleted], [control], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (1, N'Duygu', N'Delice', N'gdelice2244@gmail.com', N'Deneme', N'Deneme', 1, 0, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Messages] ([ID], [SenderName], [SenderSurname], [SenderMail], [Title], [Explanation], [Active], [IsDeleted], [control], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (2, N'Duygu', N'Delice', N'gdelice2244@gmail.com', N'sdadad', N'saddsdd', 1, 0, 1, N'20.04.2023 12:42:18', NULL, NULL, NULL)
INSERT [dbo].[Messages] ([ID], [SenderName], [SenderSurname], [SenderMail], [Title], [Explanation], [Active], [IsDeleted], [control], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (3, N'Nurhan', N'Saydam', N'nurhan@gmail.com', N'eeeeeee', N'eeeeeeeeee', 1, 0, 1, N'20.04.2023 12:42:09', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Provinces] ON 

INSERT [dbo].[Provinces] ([ID], [Name], [IsDeleted], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (3, N'KIRIKKALE', 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Provinces] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([ID], [QuestionName], [branchId], [Explanation], [Questions_picture], [urgencyId], [Question_active], [Sender_Name], [Sender_Surname], [Sender_Mail], [IsDeleted], [control], [Questions_date], [Click], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (1, N'Trigonometri', 1, N'Sin90 kaçtır?', N'/Content/Style/İmages/Ekran Görüntüsü (6).png', 1, 1, N'Duygu', N'Delice', N'gdelice2244@gmail.com', 1, 1, NULL, 93, NULL, NULL, N'5.06.2023 22:34:04', NULL)
INSERT [dbo].[Questions] ([ID], [QuestionName], [branchId], [Explanation], [Questions_picture], [urgencyId], [Question_active], [Sender_Name], [Sender_Surname], [Sender_Mail], [IsDeleted], [control], [Questions_date], [Click], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (2, N'Matematik-Limit', 1, N'Aşağıdaki soruda altı çizili ifade bir sıfat mıdır?', N'/Content/Style/İmages/limit.jpg', 2, 1, NULL, NULL, N'gdelice2244@gmail.com', 0, 1, N'8.04.2023 23:51:59', 12, N'5.06.2023 22:32:30', NULL, N'22.04.2023 13:48:46', N'23.04.2023 23:42:35')
INSERT [dbo].[Questions] ([ID], [QuestionName], [branchId], [Explanation], [Questions_picture], [urgencyId], [Question_active], [Sender_Name], [Sender_Surname], [Sender_Mail], [IsDeleted], [control], [Questions_date], [Click], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (3, N'Matematik-Açılar', 1, N'Aşağıda yer alan resimdeki açıyı bulabilir misiniz? (Cevap A)', N'/Content/Style/İmages/Ekran Görüntüsü (6).png', 2, 1, N'Duygu', N'Delice', N'gdelice2244@gmail.com', 1, 1, N'8.04.2023 23:58:17', 47, NULL, NULL, N'5.06.2023 22:33:53', N'23.04.2023 23:42:33')
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Schools] ON 

INSERT [dbo].[Schools] ([ID], [Name], [IsDeleted], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (1, N'Kırkkonaklar Anadolu Lisesi', 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Schools] ([ID], [Name], [IsDeleted], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (2, N'Hürriyet İl öğretim Okulu', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Schools] ([ID], [Name], [IsDeleted], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (3, N'Kırıkkale ortaokulu', 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Schools] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[Teachers] ON 

SET IDENTITY_INSERT [dbo].[Teachers] OFF
GO
SET IDENTITY_INSERT [dbo].[ToDoes] ON 

INSERT [dbo].[ToDoes] ([ID], [Explonation], [Status], [updatedDate], [createdDate]) VALUES (1, N'deneme', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ToDoes] OFF
GO
SET IDENTITY_INSERT [dbo].[Urgencies] ON 

INSERT [dbo].[Urgencies] ([Id], [Name], [IsDeleted], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (1, N'Çok Acil', 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Urgencies] ([Id], [Name], [IsDeleted], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (2, N'Acil', 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Urgencies] ([Id], [Name], [IsDeleted], [updatedDate], [createdDate], [deletedDate], [reloadedDate]) VALUES (3, N'Acil Değil', 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Urgencies] OFF
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT ((0)) FOR [answerId]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ((0)) FOR [Click]
GO
ALTER TABLE [dbo].[Teachers] ADD  DEFAULT ((0)) FOR [Point]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Answers_dbo.Questions_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [FK_dbo.Answers_dbo.Questions_QuestionId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Answers_answerId] FOREIGN KEY([answerId])
REFERENCES [dbo].[Answers] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Answers_answerId]
GO
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Districts_dbo.Provinces_provinceId] FOREIGN KEY([provinceId])
REFERENCES [dbo].[Provinces] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Districts] CHECK CONSTRAINT [FK_dbo.Districts_dbo.Provinces_provinceId]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Questions_dbo.Branches_branchId] FOREIGN KEY([branchId])
REFERENCES [dbo].[Branches] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_dbo.Questions_dbo.Branches_branchId]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Questions_dbo.Urgencies_urgencyId] FOREIGN KEY([urgencyId])
REFERENCES [dbo].[Urgencies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_dbo.Questions_dbo.Urgencies_urgencyId]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Teachers_dbo.Branches_branchId] FOREIGN KEY([branchId])
REFERENCES [dbo].[Branches] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_dbo.Teachers_dbo.Branches_branchId]
GO
