@model QuestionsSolution.Models.Urgency
@{
    ViewBag.Title = "GetUrgency";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<body onload="kapat()">
    @if (@TempData["Error"] != null)
    {
        <div id="dv1" class="alert alert-danger">
            <strong style="font-size:15px;">@TempData["Error"]</strong>
            @*<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>*@
        </div>
    }
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Önemlilik Derecesi Güncelle</h4>



                @using (Html.BeginForm("UpdateUrgency", "Admin", FormMethod.Post))
                {
                    <label for="Vision">Id</label> <br />
                    @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
                    <br />
                    <label for="Vision">Önemlilik Derecesi Adı</label> <br />
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", required = "required" })
                    <br />
                    <br />
                    <button class="btn btn-outline-warning"><i class="mdi mdi-content-save"></i>&nbsp;&nbsp;Güncelle</button>
                }
                <br />
                <br />
            </div>
        </div>
    </div>
    <script>

        function kapat() {
            setTimeout("document.getElementById('dv1').style.display = 'none'", 3000);
        }

    </script>
