@using QuestionsSolution.Models
@model List<Student>
<div class="d-none d-md-block">
    <p class="statistics-title">Öğrenci Kullanıcı Sayısı</p>
    <h3 class="rate-percentage">@Model.Count</h3>
</div>
