@{
    ViewBag.Title = "DetailSearch";
    Layout = "~/Views/Shared/_Layout - Teacher.cshtml";
}
<section class="category">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="~/Teacher/Index">Anasayfa</a></li>
                            <li class="active">Detaylı Arama</li>
                        </ol>
                    </div>
                </div>
                <br />
                <div class="row">
                    @Html.Action("DetailSearchQuestion", "Teacher")
                    <div class="line"></div>
                    @Html.Action("DetailSearchTeacher", "Teacher")
                    <div class="line"></div>
                    @Html.Action("DetailSearchStudent", "Teacher")
                    <div class="col-md-12 text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

