@using QuestionsSolution.Models
@model List<Answer>

<a href="~/Admin/Answer" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-folder-multiple-outline text-primary me-2"></i>Gelen Cevaplar<span class="badge badge-pill badge-danger">@Model.Count</span></a>


