@using QuestionsSolution.Models
@model List<Message>

<a href="~/Admin/Message" class="dropdown-item"><i class="dropdown-item-icon mdi mdi-folder-multiple-outline text-primary me-2"></i>Gelen Mesajlar<span class="badge badge-pill badge-danger">@Model.Count</span></a>


