@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <META HTTP-EQUIV="expires" CONTENT="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <META name="description" content="sosyal tesis muhasebe takip sistemi">
    <meta name="keywords" content="sosyal tesis muhasebe takip sistemi,müşavirlik,işletme esasına göre muhasebe takip, bilanço esasına göre muhasebe takip,
                  metas,muhasebe yazılımı,muhasebe takip yazılımı,yemekhane muhasebe yazılımı,sosyal tesis muhasebe yazılımı,sosyal tesis usul ve esaslar,dönüşüm rehberi,maliye bakanlığı sosyal tesis yazılımı,
                  sağlık bakanlığı sosyal tesis yazılımı,başbakanlık sosyal tesis yazılımı,yök,tübitak,ösym,ekonomi bakanlığı,dışişleri bakanlığı,muhasebe programı,sosyal tesismuhasebe programı,yemekhane muhasebe programı,kreş muhasebe programı,misafirhane muhasebe programı,
                  restoran takip programı, konaklama ve otel programı,yazılım,eğitim semineri,akbs,xml">
    <META NAME="rating" CONTENT="general">
    <META NAME="abstract" CONTENT="security">
    <META NAME="robots" CONTENT="all">
    <META NAME=googlebot CONTENT="Index, Follow">
    <META NAME=robots CONTENT="Index, Follow">
    <meta name="distribution" content="global">
    <meta name="author" content="Mehmet Taşkın" />
    <link rel="shortcut icon" type="image/png" href="~/Content/Style/İmages/yenilogo-removebg-preview.png" />
    <title>SolutionApp</title>





    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/Style/metasweb/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/Content/Style/metasweb/Giriş.css" media="screen">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script class="u-script" type="text/javascript" src="~/Content/Style/metasweb/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/Content/Style/metasweb/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.18.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i">


    <link href="~/Content/Style/Green/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Content/Style/Green/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Style/Green/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/Style/Green/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/Style/Green/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/Style/Green/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">



    <link href="~/Content/Style/Green/assets/css/style.css" rel="stylesheet">
</head>

<body>
    @*<section id="topbar" style="visibility:hidden;" class="d-flex align-items-center">
            <div class="container d-flex justify-content-center justify-content-md-between">
                <div class="contact-info d-flex align-items-center">
                    <i class="bi bi-envelope-fill"></i><a href="mailto:info@metasyazilim.com"><b style="color:darkblue;">info@metasyazilim.com</b></a>
                    <i class="bi bi-phone-fill phone-icon"></i><b style="color:darkblue;">0312 424 10 73</b>
                </div>
                <div class="social-links d-none d-md-block">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
                </div>
            </div>
        </section>*@
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto">
                <a href="~/Home/Index">
                    <img src="~/Content/Style/İmages/yenilogo-removebg-preview.png" style="width:64%; height:63%;" title="Solution App" class="u-logo-image u-logo-image-1" data-image-width="80" alt="SolutionApp Logo">
                </a>
            </h1>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="~/Home/Index">Ana Sayfa</a></li>
                    <li><a class="nav-link scrollto" href="~/Home/About">Biz Kimiz?</a></li>
                    <li><a class="nav-link scrollto" href="~/Home/Contract">İletişim</a></li>
                    <li><a class="getstarted scrollto" href="~/Student/Login">Öğrenci Kullanıcı Girişi</a></li>
                    <li><a class="getstarted scrollto" href="~/Teacher/Login">Öğretmen Kullanıcı Girişi</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>

            </nav>

        </div>
    </header>

    <div>
        @RenderBody()
        <footer id="footer">
            <div class="container">
                <h6>SolutionApp</h6>

                <div class="copyright">
                    &copy; Copyright © 2023 <strong><span>SolutionApp</span></strong>. Tüm Hakları Saklıdır.
                    <br />
                    <a href="~/Home/Privacy">Gizlilik</a> | <a href="~/Home/Site_Usage_Rules">Site Kullanım Kuralları</a> |<a href="~/Home/Copyright">Telif Hakkı</a>
                </div>
                <div class="credits">

                </div>
            </div>
        </footer>

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


        <script src="~/Content/Style/Green/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/Content/Style/Green/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="~/Content/Style/Green/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="~/Content/Style/Green/assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="~/Content/Style/Green/assets/vendor/php-email-form/validate.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="~/Content/Style/Green/assets/js/main.js"></script>

</body>

</html>