.u-section-1 {
	background-image: none;
}

	.u-section-1 .u-sheet-1 {
		min-height: 59px;
	}

	.u-section-1 .u-text-1 {
		font-size: 1.37rem;
		text-shadow: -2px -2px 8px rgba(128,128,128,1);
		margin: 13px 441px 13px auto;
	}

@media (max-width: 1199px) {
	.u-section-1 .u-text-1 {
		font-weight: bold;
		margin-right: 364px;
	}
}

@media (max-width: 991px) {
	.u-section-1 .u-text-1 {
		margin-right: 279px;
	}
}

@media (max-width: 767px) {
	.u-section-1 .u-text-1 {
		margin-right: 209px;
	}
}

@media (max-width: 575px) {
	.u-section-1 .u-text-1 {
		margin-right: 132px;
	}
}

.u-section-2 {
	background-image: none;
}

	.u-section-2 .u-sheet-1 {
		min-height: 1200px;
	}

	.u-section-2 .u-tabs-1 {
		min-height: 1138px;
		height: auto;
		width: 1236px;
		margin: 24px -48px 38px;
	}

	.u-section-2 .u-tab-link-1 {
		font-size: 0.70rem;
		background-image: none;
		font-weight: 600;
		padding: 10px 25px;
	}

	.u-section-2 .u-tab-link-2 {
		font-size: 0.70rem;
		background-image: none;
		font-weight: 600;
		padding: 10px 25px;
	}

	.u-section-2 .u-tab-link-3 {
		font-size: 00.70rem;
		background-image: none;
		font-weight: 600;
		padding: 10px 25px;
	}

	.u-section-2 .u-tab-item-4 {
		margin-bottom: 0;
	}

	.u-section-2 .u-tab-link-4 {
		font-size: 0.70rem;
		background-image: none;
		font-weight: 600;
		padding: 10px 25px;
	}

	.u-section-2 .u-tab-item-5 {
		margin-bottom: 0;
	}

	.u-section-2 .u-tab-link-5 {
		font-size: 0.70rem;
		background-image: none;
		font-weight: 600;
		padding: 10px 25px;
	}

	.u-section-2 .u-tab-item-6 {
		margin-bottom: 0;
	}

	.u-section-2 .u-tab-link-6 {
		font-size: 0.70rem;
		background-image: none;
		font-weight: 600;
		padding: 10px 25px;
	}

	.u-section-2 .u-tab-pane-1 {
		background-image: none;
	}

	.u-section-2 .u-container-layout-1 {
		padding: 30px;
	}

	.u-section-2 .u-text-1 {
		line-height: 1.8;
		font-weight: 650;
		margin: 0 276px 0 17px;
		font-size:1.07rem;
	}

	.u-section-2 .u-text-2 {
		line-height: 1.8;
		margin: 38px 17px 0 25px;
	}

	.u-section-2 .u-btn-1 {
		background-image: none;
		padding: 0;
	}

	.u-section-2 .u-btn-2 {
		background-image: none;
		padding: 0;
	}

	.u-section-2 .u-btn-3 {
		background-image: none;
		padding: 0;
	}

	.u-section-2 .u-btn-4 {
		background-image: none;
		color: rgba(0, 0, 0, 0);
		padding: 0;
	}

	.u-section-2 .u-btn-5 {
		background-image: none;
		color: rgba(0, 0, 0, 0);
		padding: 0;
	}

	.u-section-2 .u-btn-6 {
		background-image: none;
		padding: 0;
	}

	.u-section-2 .u-btn-7 {
		background-image: none;
		color: rgba(0, 0, 0, 0);
		padding: 0;
	}

	.u-section-2 .u-btn-8 {
		background-image: none;
		color: rgba(0, 0, 0, 0);
		padding: 0;
	}

	.u-section-2 .u-btn-9 {
		background-image: none;
		color: rgba(0, 0, 0, 0);
		padding: 0;
	}

	.u-section-2 .u-btn-10 {
		background-image: none;
		color: rgba(0, 0, 0, 0);
		padding: 0;
	}

	.u-section-2 .u-tab-pane-2 {
		background-image: none;
	}

	.u-section-2 .u-container-layout-2 {
		padding: 30px 30px 30px 49px;
	}

	.u-section-2 .u-text-3 {
		font-weight: 700;
		font-style: italic;
		margin: 0;
	}

	.u-section-2 .u-image-1 {
		width: 622px;
		height: 414px;
		margin: 46px auto 0 241px;
	}

	.u-section-2 .u-text-4 {
		line-height: 1.8;
		margin: 77px 179px 0 146px;
	}

	.u-section-2 .u-tab-pane-3 {
		background-image: none;
	}

	.u-section-2 .u-container-layout-3 {
		padding: 0 10px 30px;
	}

	.u-section-2 .u-text-5 {
		font-style: italic;
		font-size: 1.125rem;
		margin: 27px auto 0 54px;
	}

	.u-section-2 .u-text-6 {
		margin: 33px 40px 0;
	}

	.u-section-2 .u-tab-pane-4 {
		background-image: none;
	}

	.u-section-2 .u-container-layout-4 {
		padding: 0 0 22px;
	}

	.u-section-2 .u-text-7 {
		font-weight: 700;
		font-style: italic;
		margin: 31px auto 0 63px;
	}

	.u-section-2 .u-list-1 {
		width: 1138px;
		margin: 17px auto -23px;
	}

	.u-section-2 .u-repeater-1 {
		grid-gap: 10px 10px;
		grid-auto-columns: calc(25% - 7.5px);
		grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
		min-height: 1012px;
	}

	.u-section-2 .u-container-layout-5 {
		padding: 10px 0;
	}

	.u-section-2 .u-image-2 {
		width: 181px;
		height: 231px;
		margin: 14px auto 0;
	}

	.u-section-2 .u-text-8 {
		font-weight: 700;
		margin: 12px auto 0 10px;
	}

	.u-section-2 .u-text-9 {
		margin: 21px auto 0;
	}

	.u-section-2 .u-text-10 {
		font-size: 0.875rem;
		margin: 12px auto 0;
	}

	.u-section-2 .u-container-layout-6 {
		padding: 10px 0;
	}

	.u-section-2 .u-image-3 {
		width: 181px;
		height: 231px;
		margin: 14px auto 0;
	}

	.u-section-2 .u-text-11 {
		font-weight: 700;
		margin: 12px auto 0 10px;
	}

	.u-section-2 .u-text-12 {
		margin: 21px auto 0;
	}

	.u-section-2 .u-text-13 {
		font-size: 0.875rem;
		margin: 12px auto 0;
	}

	.u-section-2 .u-container-layout-7 {
		padding: 10px 0;
	}

	.u-section-2 .u-image-4 {
		width: 181px;
		height: 231px;
		margin: 14px auto 0;
	}

	.u-section-2 .u-text-14 {
		font-weight: 700;
		margin: 12px auto 0 10px;
	}

	.u-section-2 .u-text-15 {
		margin: 21px auto 0;
	}

	.u-section-2 .u-text-16 {
		font-size: 0.875rem;
		margin: 12px auto 0;
	}

	.u-section-2 .u-container-layout-8 {
		padding: 10px 0;
	}

	.u-section-2 .u-image-5 {
		width: 181px;
		height: 231px;
		margin: 14px auto 0;
	}

	.u-section-2 .u-text-17 {
		font-weight: 700;
		margin: 12px auto 0 10px;
	}

	.u-section-2 .u-text-18 {
		margin: 21px auto 0;
	}

	.u-section-2 .u-text-19 {
		font-size: 0.875rem;
		margin: 12px auto 0;
	}

	.u-section-2 .u-tab-pane-5 {
		background-image: none;
	}

	.u-section-2 .u-container-layout-9 {
		padding: 30px;
	}

	.u-section-2 .u-text-20 {
		font-style: italic;
		font-weight: 700;
		margin: 0 auto 0 25px;
	}

	.u-section-2 .u-image-6 {
		width: 588px;
		height: 392px;
		margin: 35px auto 0;
	}

	.u-section-2 .u-text-21 {
		margin: 56px 16px 0;
	}

	.u-section-2 .u-tab-pane-6 {
		background-image: none;
	}

	.u-section-2 .u-container-layout-10 {
		padding: 30px 0;
	}

	.u-section-2 .u-text-22 {
		line-height: 1.8;
		font-weight: 700;
		margin: 0 13px 0 47px;
	}

	.u-section-2 .u-text-23 {
		font-weight: normal;
		margin: 13px 0 0 60px;
	}

	.u-section-2 .u-text-24 {
		margin: 13px -11px 0 71px;
	}

@media (max-width: 1199px) {
	.u-section-2 .u-tabs-1 {
		width: 940px;
		margin-left: 0;
		margin-right: 0;
	}

	.u-section-2 .u-text-1 {
		width: auto;
		margin-right: 0;
		margin-left: 298px;
	}

	.u-section-2 .u-text-2 {
		width: auto;
		margin-top: 20px;
		margin-right: 0;
		margin-left: 298px;
	}

	.u-section-2 .u-btn-2 {
		color: rgba(0, 0, 0, 0);
	}

	.u-section-2 .u-image-1 {
		margin-left: 240px;
	}

	.u-section-2 .u-text-4 {
		margin-left: 0;
		margin-right: 29px;
	}

	.u-section-2 .u-text-6 {
		margin-left: 0;
		margin-right: 0;
	}

	.u-section-2 .u-list-1 {
		width: 940px;
	}

	.u-section-2 .u-repeater-1 {
		grid-template-columns: repeat(4, calc(25% - 7.5px));
		min-height: 307px;
	}

	.u-section-2 .u-text-21 {
		margin-right: 0;
		margin-left: 25px;
	}

	.u-section-2 .u-text-22 {
		margin-right: 0;
		margin-left: 0;
	}

	.u-section-2 .u-text-23 {
		margin-left: 0;
	}

	.u-section-2 .u-text-24 {
		margin-right: 0;
		margin-left: 0;
	}
}

@media (max-width: 991px) {
	.u-section-2 .u-tabs-1 {
		width: 720px;
	}

	.u-section-2 .u-text-1 {
		margin-left: 306px;
	}

	.u-section-2 .u-text-2 {
		margin-top: 19px;
		margin-left: 306px;
	}

	.u-section-2 .u-container-layout-2 {
		padding-left: 30px;
	}

	.u-section-2 .u-image-1 {
		margin-left: 38px;
	}

	.u-section-2 .u-text-4 {
		margin-right: 0;
	}

	.u-section-2 .u-list-1 {
		width: 720px;
	}

	.u-section-2 .u-repeater-1 {
		grid-auto-columns: calc(50% - 5px);
		grid-template-columns: repeat(2, calc(50% - 5px));
		min-height: 968px;
	}
}

@media (max-width: 767px) {
	.u-section-2 .u-tabs-1 {
		width: 540px;
	}

	.u-section-2 .u-container-layout-1 {
		padding-left: 25px;
		padding-right: 25px;
	}

	.u-section-2 .u-text-1 {
		margin-top: 623px;
		margin-right: auto;
		margin-left: 0;
	}

	.u-section-2 .u-text-2 {
		margin-right: auto;
		margin-left: 0;
	}

	.u-section-2 .u-container-layout-2 {
		padding-left: 10px;
		padding-right: 10px;
	}

	.u-section-2 .u-image-1 {
		width: 520px;
		height: 346px;
		margin-left: 0;
	}

	.u-section-2 .u-list-1 {
		width: 540px;
	}

	.u-section-2 .u-repeater-1 {
		grid-auto-columns: calc(100% - 0px);
		grid-template-columns: 100%;
	}

	.u-section-2 .u-container-layout-9 {
		padding-left: 10px;
		padding-right: 10px;
	}

	.u-section-2 .u-image-6 {
		width: 520px;
		height: 347px;
	}
}

@media (max-width: 575px) {
	.u-section-2 .u-tabs-1 {
		width: 340px;
	}

	.u-section-2 .u-container-layout-1 {
		padding-left: 20px;
		padding-right: 20px;
	}

	.u-section-2 .u-text-1 {
		margin-top: 416px;
		margin-right: 0;
	}

	.u-section-2 .u-text-2 {
		margin-right: 0;
	}

	.u-section-2 .u-image-1 {
		width: 320px;
		height: 213px;
	}

	.u-section-2 .u-list-1 {
		width: 340px;
	}

	.u-section-2 .u-repeater-1 {
		grid-auto-columns: 100%;
	}

	.u-section-2 .u-image-6 {
		width: 320px;
		height: 214px;
	}
}
