<style >
.u-section-1 {
	background-image: none;
}

.u-section-1 .u-sheet-1 {
	min-height: 552px;
}

.u-section-1 .u-list-1 {
	grid-template-rows: auto;
	margin: 50px 0;
}

.u-section-1 .u-repeater-1 {
	grid-template-columns: 33.3333% 33.3333% 33.3333%;
	min-height: 1279px;
	grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
	padding: 20px 30px;
}

.u-section-1 .u-image-1 {
	height: 198px;
	width: 295px;
	margin: 0 auto;
}

.u-section-1 .u-text-1 {
	transition-duration: 0.5s;
	font-size: 1.5rem;
	transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
	margin: 19px auto 0;
}

.u-section-1 .u-btn-1 {
	letter-spacing: 0px;
	border-style: solid;
	font-weight: 700;
	text-transform: uppercase;
	background-image: none;
	font-size: 0.875rem;
	margin: 42px auto 0;
	padding: 9px 30px 10px;
}

.u-section-1 .u-container-layout-2 {
	padding: 20px 30px;
}

.u-section-1 .u-image-2 {
	height: 198px;
	width: 295px;
	margin: 0 auto;
}

.u-section-1 .u-text-2 {
	transition-duration: 0.5s;
	transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
	font-size: 1.5rem;
	margin: 19px auto 0;
}

.u-section-1 .u-btn-2 {
	letter-spacing: 0px;
	border-style: solid;
	font-weight: 700;
	text-transform: uppercase;
	background-image: none;
	font-size: 0.875rem;
	margin: 42px auto 0;
	padding: 9px 30px 10px;
}

.u-section-1 .u-container-layout-3 {
	padding: 20px 30px;
}

.u-section-1 .u-image-3 {
	height: 198px;
	width: 295px;
	margin: 0 auto;
}

.u-section-1 .u-text-3 {
	transition-duration: 0.5s;
	font-size: 1.5rem;
	transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
	margin: 19px auto 0;
}

.u-section-1 .u-btn-3 {
	letter-spacing: 0px;
	border-style: solid;
	font-weight: 700;
	text-transform: uppercase;
	background-image: none;
	font-size: 0.875rem;
	margin: 42px auto 0;
	padding: 9px 30px 10px;
}

.u-section-1 .u-container-layout-4 {
	padding: 20px 30px;
}

.u-section-1 .u-image-4 {
	height: 198px;
	width: 295px;
	margin: 0 auto;
}

.u-section-1 .u-text-4 {
	transition-duration: 0.5s;
	transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
	font-size: 1.5rem;
	margin: 19px auto 0;
}

.u-section-1 .u-btn-4 {
	letter-spacing: 0px;
	border-style: solid;
	font-weight: 700;
	text-transform: uppercase;
	background-image: none;
	font-size: 0.875rem;
	margin: 42px auto 0;
	padding: 9px 30px 10px;
}

.u-section-1 .u-container-layout-5 {
	padding: 20px 30px;
}

.u-section-1 .u-image-5 {
	height: 198px;
	width: 295px;
	margin: 0 auto;
}

.u-section-1 .u-text-5 {
	transition-duration: 0.5s;
	transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
	font-size: 1.5rem;
	margin: 19px auto 0;
}

.u-section-1 .u-btn-5 {
	letter-spacing: 0px;
	border-style: solid;
	font-weight: 700;
	text-transform: uppercase;
	background-image: none;
	font-size: 0.875rem;
	margin: 42px auto 0;
	padding: 9px 30px 10px;
}

.u-section-1 .u-container-layout-6 {
	padding: 20px 30px;
}

.u-section-1 .u-image-6 {
	height: 198px;
	width: 295px;
	margin: 0 auto;
}

.u-section-1 .u-text-6 {
	transition-duration: 0.5s;
	transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
	font-size: 1.5rem;
	margin: 19px auto 0;
}

.u-section-1 .u-btn-6 {
	letter-spacing: 0px;
	border-style: solid;
	font-weight: 700;
	text-transform: uppercase;
	background-image: none;
	font-size: 0.875rem;
	margin: 42px auto 0;
	padding: 9px 30px 10px;
}

.u-section-1 .u-container-layout-7 {
	padding: 20px 30px;
}

.u-section-1 .u-image-7 {
	height: 198px;
	width: 295px;
	margin: 0 auto;
}

.u-section-1 .u-text-7 {
	transition-duration: 0.5s;
	transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
	font-size: 1.5rem;
	margin: 19px auto 0;
}

.u-section-1 .u-btn-7 {
	letter-spacing: 0px;
	border-style: solid;
	font-weight: 700;
	text-transform: uppercase;
	background-image: none;
	font-size: 0.875rem;
	margin: 42px auto 0;
	padding: 9px 30px 10px;
}

.u-section-1 .u-container-layout-8 {
	padding: 20px 30px;
}

.u-section-1 .u-image-8 {
	height: 198px;
	width: 295px;
	margin: 0 auto;
}

.u-section-1 .u-text-8 {
	transition-duration: 0.5s;
	transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
	font-size: 1.5rem;
	margin: 19px auto 0;
}

.u-section-1 .u-btn-8 {
	letter-spacing: 0px;
	border-style: solid;
	font-weight: 700;
	text-transform: uppercase;
	background-image: none;
	font-size: 0.875rem;
	margin: 42px auto 0;
	padding: 9px 30px 10px;
}

.u-section-1 .u-container-layout-9 {
	padding: 20px 30px;
}

.u-section-1 .u-image-9 {
	height: 198px;
	width: 295px;
	margin: 0 auto;
}

.u-section-1 .u-text-9 {
	transition-duration: 0.5s;
	transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
	font-size: 1.5rem;
	margin: 19px auto 0;
}

.u-section-1 .u-btn-9 {
	letter-spacing: 0px;
	border-style: solid;
	font-weight: 700;
	text-transform: uppercase;
	background-image: none;
	font-size: 0.875rem;
	margin: 42px auto 0;
	padding: 9px 30px 10px;
}

@media(max-width: 1199px) {
	.u-section-1 .u-list-1

{
	margin-right: initial;
	margin-left: initial;
}

.u-section-1 .u-repeater-1 {
	grid-template-columns: repeat(3, 33.333333333333336%);
	min-height: 1055px;
}

.u-section-1 .u-btn-2 {
	padding: 2px 0;
}

.u-section-1 .u-btn-3 {
	padding: 2px 0;
}

.u-section-1 .u-btn-4 {
	padding: 2px 0;
}

.u-section-1 .u-btn-5 {
	padding: 2px 0;
}

.u-section-1 .u-btn-6 {
	padding: 2px 0;
}

.u-section-1 .u-btn-7 {
	padding: 2px 0;
}

.u-section-1 .u-btn-8 {
	padding: 2px 0;
}

.u-section-1 .u-btn-9 {
	padding: 2px 0;
}

}

@media(max-width: 991px) {
	.u-section-1 .u-repeater-1

{
	grid-template-columns: repeat(2, 50%);
	min-height: 2020px;
}

}

@media(max-width: 767px) {
	.u-section-1 .u-repeater-1

{
	grid-template-columns: 100%;
}

.u-section-1 .u-container-layout-1 {
	padding-left: 10px;
	padding-right: 10px;
}

.u-section-1 .u-container-layout-2 {
	padding-left: 10px;
	padding-right: 10px;
}

.u-section-1 .u-container-layout-3 {
	padding-left: 10px;
	padding-right: 10px;
}

.u-section-1 .u-container-layout-4 {
	padding-left: 10px;
	padding-right: 10px;
}

.u-section-1 .u-container-layout-5 {
	padding-left: 10px;
	padding-right: 10px;
}

.u-section-1 .u-container-layout-6 {
	padding-left: 10px;
	padding-right: 10px;
}

.u-section-1 .u-container-layout-7 {
	padding-left: 10px;
	padding-right: 10px;
}

.u-section-1 .u-container-layout-8 {
	padding-left: 10px;
	padding-right: 10px;
}

.u-section-1 .u-container-layout-9 {
	padding-left: 10px;
	padding-right: 10px;
}

}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
	transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-2 {
	transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-2 {
	transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
	transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
	transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
	transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
	transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-3 {
	transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-3 {
	transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-4,
.u-section-1 .u-text-4:before,
.u-section-1 .u-text-4 > .u-container-layout:before {
	transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-4 {
	transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-4 {
	transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-5,
.u-section-1 .u-text-5:before,
.u-section-1 .u-text-5 > .u-container-layout:before {
	transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-5 {
	transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-5 {
	transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-6,
.u-section-1 .u-text-6:before,
.u-section-1 .u-text-6 > .u-container-layout:before {
	transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-6 {
	transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-6 {
	transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-7,
.u-section-1 .u-text-7:before,
.u-section-1 .u-text-7 > .u-container-layout:before {
	transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-7 {
	transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-7 {
	transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-8,
.u-section-1 .u-text-8:before,
.u-section-1 .u-text-8 > .u-container-layout:before {
	transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-8 {
	transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-8 {
	transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-9,
.u-section-1 .u-text-9:before,
.u-section-1 .u-text-9 > .u-container-layout:before {
	transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-9 {
	transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-9 {
	transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}


