
.u-section-1 {
	background-image: none;
}

.u-section-1 .u-sheet-1 {
	min-height: 86px;
}

.u-section-1 .u-text-1 {
	font-size: 1.40rem;
	transition-duration: 0.5s;
	transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
	margin: 19px auto 34px;
}

@media (max-width: 1199px) {
	.u-section-1 .u-text-1

{
	font-weight: bold;
}

}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
	transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
	transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
	transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 {
	background-image: none;
}

	.u-section-2 .u-sheet-1 {
		min-height: 857px;
	}

	.u-section-2 .u-list-1 {
		grid-template-rows: auto auto;
		height: auto;
		margin: 5px 0 60px;
	}

	.u-section-2 .u-repeater-1 {
		grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
		grid-gap: 10px 10px;
		min-height: 688px;
	}

	.u-section-2 .u-container-layout-1 {
		padding: 30px;
	}

	.u-section-2 .u-image-1 {
		width: 202px;
		height: 79px;
		margin: 0 auto;
	}

	.u-section-2 .u-text-1 {
		font-size: 1.125rem;
		margin: 41px 0 -9px;
	}

	.u-section-2 .u-container-layout-2 {
		padding: 30px;
	}

	.u-section-2 .u-image-2 {
		width: 202px;
		height: 79px;
		margin: 0 auto;
	}

	.u-section-2 .u-text-2 {
		font-size: 1.125rem;
		margin: 41px 0 -9px;
	}

	.u-section-2 .u-container-layout-3 {
		padding: 30px;
	}

	.u-section-2 .u-image-3 {
		width: 202px;
		height: 79px;
		margin: 0 auto;
	}

	.u-section-2 .u-text-3 {
		font-size: 1.125rem;
		margin: 41px 0 -9px;
	}

	.u-section-2 .u-container-layout-4 {
		padding: 30px;
	}

	.u-section-2 .u-image-4 {
		width: 202px;
		height: 79px;
		margin: 0 auto;
	}

	.u-section-2 .u-text-4 {
		font-size: 1.125rem;
		margin: 41px 0 -9px;
	}

	.u-section-2 .u-container-layout-5 {
		padding: 30px;
	}

	.u-section-2 .u-image-5 {
		width: 202px;
		height: 79px;
		margin: 0 auto;
	}

	.u-section-2 .u-text-5 {
		font-size: 1.125rem;
		margin: 41px 0 -9px;
	}

	.u-section-2 .u-container-layout-6 {
		padding: 30px;
	}

	.u-section-2 .u-image-6 {
		width: 202px;
		height: 79px;
		margin: 0 auto;
	}

	.u-section-2 .u-text-6 {
		font-size: 1.125rem;
		margin: 41px 0 -9px;
	}

@media (max-width: 1199px) {
	.u-section-2 .u-sheet-1

{
	min-height: 830px;
}

.u-section-2 .u-list-1 {
	margin-right: initial;
	margin-left: initial;
}

}

@media (max-width: 991px) {
	.u-section-2 .u-sheet-1

{
	min-height: 1240px;
}

.u-section-2 .u-repeater-1 {
	grid-template-columns: calc(50% - 5px) calc(50% - 5px);
}

}

@media (max-width: 767px) {
	.u-section-2 .u-list-1

{
	margin-top: 169px;
	margin-right: initial;
	margin-left: initial;
}

.u-section-2 .u-container-layout-1 {
	padding-left: 10px;
	padding-right: 10px;
}

.u-section-2 .u-container-layout-2 {
	padding-left: 10px;
	padding-right: 10px;
}

.u-section-2 .u-container-layout-3 {
	padding-left: 10px;
	padding-right: 10px;
}

.u-section-2 .u-container-layout-4 {
	padding-left: 10px;
	padding-right: 10px;
}

.u-section-2 .u-container-layout-5 {
	padding-left: 10px;
	padding-right: 10px;
}

.u-section-2 .u-container-layout-6 {
	padding-left: 10px;
	padding-right: 10px;
}

}

@media (max-width: 575px) {
	.u-section-2 .u-repeater-1

{
	grid-template-columns: 100%;
}

.u-section-2 .u-image-1 {
	height: 49px;
	margin-right: initial;
	margin-left: initial;
	width: auto;
}

.u-section-2 .u-image-2 {
	height: 49px;
	margin-right: initial;
	margin-left: initial;
	width: auto;
}

.u-section-2 .u-image-3 {
	height: 49px;
	margin-right: initial;
	margin-left: initial;
	width: auto;
}

.u-section-2 .u-image-4 {
	height: 49px;
	margin-right: initial;
	margin-left: initial;
	width: auto;
}

.u-section-2 .u-image-5 {
	height: 49px;
	margin-right: initial;
	margin-left: initial;
	width: auto;
}

.u-section-2 .u-image-6 {
	height: 49px;
	margin-right: initial;
	margin-left: initial;
	width: auto;
}

}
