.u-section-1 {
	background-image: none;
}

	.u-section-1 .u-sheet-1 {
		min-height: 132px;
	}

	.u-section-1 .u-text-1 {
		font-size: 1.44rem;
		font-style: italic;
		margin: 50px auto 0;
	}

	.u-section-1 .u-text-2 {
		line-height: 1.8;
		width: 680px;
		margin: 22px auto 0;
	}

@media (max-width: 767px) {
	.u-section-1 .u-text-2 {
		width: 540px;
	}
}

@media (max-width: 575px) {
	.u-section-1 .u-text-2 {
		width: 340px;
	}
}

.u-section-2 {
	background-image: none;
}

	.u-section-2 .u-sheet-1 {
		min-height: 745px;
	}

	.u-section-2 .u-gallery-1 {
		height: 423px;
		grid-gap: 17px 17px;
		margin: 66px 0 60px;
	}

	.u-section-2 .u-gallery-inner-1 {
		grid-template-columns: repeat(3, auto);
		grid-gap: 17px;
	}

	.u-section-2 .u-over-slide-1 {
		background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
		padding: 20px;
	}

	.u-section-2 .u-over-slide-2 {
		background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
		padding: 20px;
	}

	.u-section-2 .u-over-slide-3 {
		background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
		padding: 20px;
	}

@media (max-width: 1199px) {
	.u-section-2 .u-sheet-1 {
		min-height: 675px;
	}

	.u-section-2 .u-gallery-1 {
		height: 349px;
		margin-right: initial;
		margin-left: initial;
	}
}

@media (max-width: 991px) {
	.u-section-2 .u-sheet-1 {
		min-height: 1128px;
	}

	.u-section-2 .u-gallery-1 {
		height: 802px;
		margin-right: initial;
		margin-left: initial;
	}

	.u-section-2 .u-gallery-inner-1 {
		grid-template-columns: repeat(2, auto);
	}
}

@media (max-width: 767px) {
	.u-section-2 .u-sheet-1 {
		min-height: 2093px;
	}

	.u-section-2 .u-gallery-1 {
		height: 1805px;
		margin-right: initial;
		margin-left: initial;
	}

	.u-section-2 .u-gallery-inner-1 {
		grid-template-columns: repeat(1, auto);
	}
}

@media (max-width: 575px) {
	.u-section-2 .u-sheet-1 {
		min-height: 1418px;
	}

	.u-section-2 .u-gallery-1 {
		height: 1136px;
		margin-right: initial;
		margin-left: initial;
	}
}
