@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Magz is a HTML5 & CSS3 magazine template is based on Bootstrap 3.">
    <meta name="author" content="Kodinger">
    <meta name="keyword" content="magz, html5, css3, template, magazine template">
    <!-- Shareable -->
    <meta property="og:title" content="HTML5 & CSS3 magazine template is based on Bootstrap 3" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://github.com/nauvalazhar/Magz" />
    <meta property="og:image" content="https://raw.githubusercontent.com/nauvalazhar/Magz/master/images/preview.png" />
    <link rel="shortcut icon" type="image/png" href="~/Content/Style/İmages/yenilogo-removebg-preview.png" />
    <title>SolutionApp</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/Style/Magz-master/scripts/bootstrap/bootstrap.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="~/Content/Style/Magz-master/scripts/ionicons/css/ionicons.min.css">
    <!-- Toast -->
    <link rel="stylesheet" href="~/Content/Style/Magz-master/scripts/toast/jquery.toast.min.css">
    <!-- OwlCarousel -->
    <link rel="stylesheet" href="~/Content/Style/Magz-master/scripts/owlcarousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/Style/Magz-master/scripts/owlcarousel/dist/assets/owl.theme.default.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/Style/Magz-master/scripts/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/Style/Magz-master/scripts/sweetalert/dist/sweetalert.css">
    <!-- Custom style -->
    <link rel="stylesheet" href="~/Content/Style/Magz-master/css/style.css">
    <link rel="stylesheet" href="~/Content/Style/Magz-master/css/skins/all.css">
    <link rel="stylesheet" href="~/Content/Style/Magz-master/css/demo.css">
</head>
<body onload="kapat()">
    <section class="login first grey">
        <div class="container">
            <div class="box-wrapper">
                <div class="box box-border">
                    <div class="box-body">
                        <h4>Şifremi Unuttum</h4>
                        @if (@TempData["SendPassword"] != null)
                        {
                            <div id="dv1" class="alert alert-success">
                                <strong style="font-size:15px;">@TempData["SendPassword"]</strong>

                            </div>}
                        <form action="/Student/ForgotPassword" method="post">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="Mail" class="form-control">
                            </div>
                            <div class="form-group text-right">
                                <button class="btn btn-primary btn-block">Şifreyi Sıfırla</button>
                            </div>
                            <div class="form-group text-center">
                                <span class="text-muted">Girişe geri dön?</span> <a href="~/Student/Login">Giriş Yap</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Start footer -->
    <!-- End Footer -->
    <!-- JS -->
    <script src="~/Content/Style/Magz-master/js/jquery.js"></script>
    <script src="~/Content/Style/Magz-master/js/jquery.migrate.js"></script>
    <script src="~/Content/Style/Magz-master/scripts/bootstrap/bootstrap.min.js"></script>
    <script>var $target_end = $(".best-of-the-week");</script>
    <script src="~/Content/Style/Magz-master/scripts/jquery-number/jquery.number.min.js"></script>
    <script src="~/Content/Style/Magz-master/scripts/owlcarousel/dist/owl.carousel.min.js"></script>
    <script src="~/Content/Style/Magz-master/scripts/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Style/Magz-master/scripts/easescroll/jquery.easeScroll.js"></script>
    <script src="~/Content/Style/Magz-master/scripts/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Content/Style/Magz-master/scripts/toast/jquery.toast.min.js"></script>
    <script src="~/Content/Style/Magz-master/js/demo.js"></script>
    <script src="~/Content/Style/Magz-master/js/e-magz.js"></script>
    <script>
        function kapat() {
            setTimeout("document.getElementById('dv1').style.display = 'none'", 3000);
        }

    </script>
</body>
</html>
